.hidden {
  display: none;
}

.show {
  position: absolute;
  top: 0;
  right: 0;
}

span {
  font-weight: bolder;
  position: relative;
}

.LOCATION {
  background-color: blue;
}

.PERSON {
  background-color: red;
}

.ORGANIZATION {
  background-color: yellow;
}

section#output {
  line-height: 2.5;
  margin: 20px 40px;
}

span:after {
  content: attr(class);
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 70%;
  z-index: 1;
}
